*{
    box-sizing: border-box;
    margin: 0px;
}

#title{
    text-align: center;
    color: rgb(104, 0, 0);
    font-size: 30px;
    font-weight: bold;
    margin: 15px;
}

.name{
    background-color: brown;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #ffb86f;
}

a{
    text-decoration: unset;
}

.name:hover, .name:active {
    background-color: gray;
}

.gb{
    background-color: brown;
}

@media (min-width:1000px)
{
    body{
        background-image: url("back.jpg");
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #container{
        margin: 10px;
    }
    .line{
        display: flex;
        align-self: flex-start;
    }
    .box
    {
        width: 16.67%;
        margin: 10px;
        position: relative;
    }

    .gb{
        position: absolute;
        right: 0px;
        bottom: 18px;
    }

    .img{
        width: 100%;
        height: 200px;
    }
}

@media (min-width:780px) and (max-width:999px)
{
    body
    {
        background-color: black;
    }
    #title
    {
        background-color: red;
        color: black;
    }

    #container
    {
        margin: 0;
        position: relative;
    }

    .box
    {
        width: 33.33%;
        padding-left: 1.67%;
        padding-right: 1.67%;
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
    }

    .img
    {
        width: 100%;
        height: 300px;
    }

    .name{
        background-color: red;
        color: black;
    }

    .gb{
        background-color: red;
        color: black;
        position: absolute;
        bottom: 30px;
        right: 5%;
    }
    .line
    {
        position: relative;
        height: fit-content;
    }
    #box1
    {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    #box2
    {
        position: absolute;
        top: 0px;
        left: 33.33%;
    }
    #box3
    {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    #box4
    {
        position: absolute;
        top: 352px;
        left: 0px;
    }
    #box5
    {
        position: absolute;
        top: 352px;
        left: 33.33%;
    }
    #box6
    {
        position: absolute;
        top: 352px;
        right: 0px;
    }

}

@media (max-width:779px)
{
    #title
    {
        background-color: cornflowerblue;
        color: yellow;
        scroll-behavior: 0;
    }
    body{
        background-color: yellow;
    }
    #container{
        margin: 1.667px;
        scroll-behavior: smooth;
    }

    .img{
        width: 100%;
        height: 200px;
    }

    .name{
        background-color: cornflowerblue;
        color: yellow;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
    }

    .gb{
        background-color: cornflowerblue;
        color: yellow;
        position: absolute;
        right: 6.667%;
        bottom: 13%;
    }

    .box{
        width: 50%;
        padding: 3.33%;
        position: relative;
    }

    #box1{
        float: left;
    }

    #box3{
        float: left;
    }

    #box5{
        float: left;
    }

    #box2{
        float: right;
    }

    #box4
    {
        float: right;
    }
    #box6
    {
        float: right;
    }
}