*{
    box-sizing: border-box;
    margin: 0px;
}

#title{
    text-align: center;
    color: rgb(104, 0, 0);
    font-size: 30px;
    font-weight: bold;
    margin: 15px;
}

.name{
    background-color: brown;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #ffb86f;
}

a{
    text-decoration: unset;
}

.name:hover, .name:active {
    background-color: gray;
}

.gb{
    background-color: brown;
}

@media (min-width:992px)
{
    body{
        background-image: url("back.jpg");
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .box
    {
        margin-bottom: 20px;
        position: relative;
    }

    .gb{
        position: absolute;
        right: 15px;
        bottom: 18px;
    }

    .img{
        width: 100%;
        height: 200px;
    }
}

@media (min-width:767px) and (max-width:991.99px)
{
    body
    {
        background-color: black;
    }
    #title
    {
        background-color: red;
        color: black;
    }

    #container
    {
        margin: 0;
    }

    .box
    {
        padding-left: 1.67%;
        padding-right: 1.67%;
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
    }

    .img
    {
        width: 100%;
        height: 300px;
    }

    .name{
        background-color: red;
        color: black;
    }

    .gb{
        background-color: red;
        color: black;
        position: absolute;
        bottom: 30px;
        right: 5%;
    }
}

@media (max-width:766.99px)
{
    #title
    {
        background-color: cornflowerblue;
        color: yellow;
    }
    body{
        background-color: yellow;
    }
    #container{
        margin: 1.667px;
    }

    .img{
        width: 100%;
        height: 200px;
    }

    .name{
        background-color: cornflowerblue;
        color: yellow;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
    }

    .gb{
        background-color: cornflowerblue;
        color: yellow;
        position: absolute;
        right: 6.667%;
        bottom: 13%;
    }

    .box{
        padding: 3.33%;
        position: relative;
    }
}